[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Oryam
	email = 48219965+or-yam@users.noreply.github.com
	#GITLAB USER email = oryam.nehoray@tikalk.com
[includeIf "gitdir:~/projects/gitlab/"]
    path = ~/gitlab-config/.gitconfig
[pull]
	rebase = false
[core]
	editor = code
[init]
	defaultBranch = main
[help]
	autoCorrect = 30
[push]
	default = current
[remote "origin"]
	prune = true
[diff]
	tool = vscode
[alias]
	s = status -sb
	add-dynamic = add -p
	co = checkout
	cob = checkout -b
	del = branch -D
	br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
	fa = fetch --all --prune
	undo = reset HEAD~1 --mixed
	res = reset --hard
	done = push origin HEAD
	lg = log --pretty=format:\"%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) [%an]\" --abbrev-commit -30
	# stash and push ex: git sap main
	sap = "!f(){ git stash; git pull origin $1; git stash pop; git push origin $1;}; f"
	ps = pull --autostash
	ac = !git add -A && git commit -m
	alias-l = config --get-regexp ^alias\\.
	brname =  "!sh $HOME/branch-name-script.sh"
	fixup = "!source $HOME/gitfixup"